@model TeamViewModel

<div class="row">
    <div class="col-md-4">
        <div class="player-form-container">
            <h3 class="player-form-title">Add Player</h3>
            <form asp-action="Create" asp-controller="Team" method="post">                
                <div class="form-group">
                    
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>

        </div>
    </div>

</div>