@model Player

@{
    ViewBag.Title = "Create Player";
}


<div id="partialZone">
    @await Component.InvokeAsync("CreatePlayer", new { returnToPlayerPage = true })
</div>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
