@model Tournament

@{
    ViewBag.Title = "Bracket Setup";

    List<Team> teams = Model.TeamTournaments.Select(pt => pt.Team).ToList();
    List<Game> games = Model.Rounds.ElementAtOrDefault(0)?.Games ?? new List<Game>();
}

<style>
    .bracket {
        display: flex;
        justify-content: space-between;
    }

    .round {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .matchup {
        margin: 20px 0;
    }

    .team {
        border: 1px solid #000;
        padding: 10px;
        width: 150px;
        text-align: center;
    }
</style>

<h2>@Model.Name - Bracket Setup</h2>


<form asp-action="BracketSetup" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="TournamentId" />

    <div class="bracket br-2">
        @for(int i = 0; i < ViewBag.Rounds; i++)
        {
            int round = i + 1;
            <section aria-labelledby="round-@round">
                <h4 id="round-@round">Round @round</h4>
                <ol>
                    @for (int j = 0; j < ViewBag.Games[i]; j++)
                    {
                        //int Team1Id = games?.ElementAtOrDefault(j)?.Teams.ElementAtOrDefault(0)?.TeamId ?? 0;
                        //int Team2Id = games?.ElementAtOrDefault(j)?.Teams.ElementAtOrDefault(1)?.TeamId ?? 0;
                        int Team1Id = games?.ElementAtOrDefault(j)?.Team1?.TeamId ?? 0;
                        int Team2Id = games?.ElementAtOrDefault(j)?.Team2?.TeamId ?? 0;

                        <select class="form-control" id="round-@i-game-@j" name="teamIds[@i][@j][0]">
                            @if (i == 0)
                            { 
                                <option value="">-- Select Team --</option>
                                @foreach (var team in teams)
                                {
                                    bool temp = team.TeamId == Team1Id;
                                    <option value="@team?.TeamId" selected="@(temp ? "selected" : null)">
                                        @{
                                            string teamString = "";
                                        }
                                        @if (team?.ByeTeam == true)
                                        {
                                            teamString = "Bye";
                                        }
                                        else
                                        {
                                            string name1 = @team?.Players.ElementAtOrDefault(0)?.Name ?? "";
                                            string name2 = @team?.Players.ElementAtOrDefault(1)?.Name ?? "";
                                            teamString = name1 + " and " + name2;

                                        }
                                        @teamString
                                    </option>
                                }                           
                            }
                        </select>

                        <select class="form-control" id="round-@i-game-@j" name="teamIds[@i][@j][1]">
                            @if (i == 0)
                            {
                                <option value="">-- Select Team --</option>
                                @foreach (var team in teams)
                                {
                                    bool temp = team.TeamId == Team2Id;
                                    <option value="@team?.TeamId" selected="@(temp ? "selected" : null)">
                                        @{
                                            string teamString = "";
                                        }
                                        @if (team?.ByeTeam == true)
                                        {
                                            teamString = "Bye";
                                        }
                                        else
                                        {
                                            string name1 = @team?.Players.ElementAtOrDefault(0)?.Name ?? "";
                                            string name2 = @team?.Players.ElementAtOrDefault(1)?.Name ?? "";
                                            teamString = name1 + " and " + name2;

                                        }
                                        @teamString
                                    </option>
                                }
                            }
                        </select>
                    }
                </ol>
            </section>
        }
    </div>
    <button tpye="submit" class="btn btn-primary">Create Tournament</button>
</form>
    